<div class="text-center">
  <h1>Sign Up</h1>
</div>
<%= render "form", model: @user, is_action_new: true do %>
  <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Sign Up</button>
<% end %>
